<style>


</style>
<form name="registerForm">
    <md-content layout-padding>
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container style="width:70%">
                    <label>Company</label>
                    <input value="Ordina" disabled>
                </md-input-container>
            </div>
            <div layout layout-sm="column">

                <md-input-container flex>
                    <label>Full name:</label>
                    <input ng-model="person.name" required md-minlenght="2" md-maxlength="65" name="name">

                    <div ng-messages="registerForm.name.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">Name has to be less than 65 characters long.</div>
                        <div ng-message="md-minlength">Name has to be minimum 2 characters long.</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Email:</label>
                    <input ng-model="person.email" type="email" required name="email">

                    <div ng-messages="registerForm.email.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>


                <md-button class="md-raised md-accent" ng-click="validate(person)">Register</md-button>


            </div>
        </form>
    </md-content>
</form>
