
<header>
    <img style="padding-top:7%" src="img/ordinalogo.png">
</header>

<form name="registerForm" ng-controller="RegisterCtrl" style="padding-bottom: 7%">
    <md-content>
        <form name="userForm">
            <div layout="column" layout-wrap>


                <md-input-container style="margin-left: 18%;padding-top: 7%;" flex="80">
                    <label>Full name:</label>
                    <input flex="80" ng-model="person.name" required md-minlenght="2" name="name">

                    <div ng-messages="registerForm.name.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-minlength">Name has to be minimum 2 characters long.</div>
                    </div>
                </md-input-container>

                <md-input-container style="margin-left: 18%;" flex="70">
                    <label>Email:</label>
                    <input flex="80" ng-model="person.email" type="email" required name="email">

                    <div ng-messages="registerForm.email.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container style="margin-left: 18%;" flex="70">
                    <label>Company/school:</label>
                    <input flex="80" ng-model="person.company" required name="company">
                </md-input-container>

                <md-input-container style="margin-left: 18%;" flex="70">
                    <md-checkbox
                            ng-model="person.interested"
                            aria-label="Interested"
                            class="md-align-top-left">
                        Interested in a job<br/>
                        <br/>
                    </md-checkbox>
                </md-input-container>
            </div>
            <md-button style="margin-left: 38%;padding: 0.5% 7% 0.5% 7%;background-color: #E68524;"
                       class="md-raised md-primary"
                       ng-click="validate(person)">Start Game
            </md-button>


        </form>
    </md-content>
</form>