#endGame {
    font-family: Verdana, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    width: 650px;
    background-color: #F5F5F5;
    overflow: hidden;
}

.endGamecon{
    margin: auto;
    width: 100%;
}

.endGamecon > p {
    background: #E68524;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size:25px;
}

.endGamecon > img {
    height: 100px;
    margin:10px;
}

.thanks {
    margin: auto;
    font-size:20px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.thanks p {
    color: limegreen;
}
